<div class="container mt-4">

  <div class="card shadow p-4 mb-4" id="estadoFondo">
    <h3 class="mb-3 text-center text-primary">📊 Fondo de Actividades</h3>
    
    <div class="card border-primary mt-3">
      <div class="card-body">
        <h5 class="card-title text-primary">💰 Estado del Fondo</h5>
        <p>Total del Fondo: <strong id="saldoFondo">$0</strong></p>
        <p class="text-primary">En efectivo: <strong id="dineroEfectivo">$0</strong></p>
        <p class="text-success">Por cobrar: <strong id="deudasPendientes">$0</strong></p>
      </div>
    </div>
     <br>
     
    <div class="row">
      <!-- Entradas -->
      <div class="col-md-6 mb-3">
        <div class="card border-success h-100">
          <div class="card-body">
            <h5 class="card-title text-success">Entradas</h5>
            <p>Manuales: <strong id="entradasManuales">$0</strong></p>
            <p>Por Actividades: <strong id="entradasActividades">$0</strong></p>
            <p class="text-success fw-bold">Total Entradas: <strong id="totalEntradas">$0</strong></p>
          </div>
        </div>
      </div>

      <!-- Salidas -->
      <div class="col-md-6 mb-3">
        <div class="card border-danger h-100">
          <div class="card-body">
            <h5 class="card-title text-danger">Salidas</h5>
            <p>Manuales: <strong id="TotalSalidaManual">$0</strong></p>
            <p>Gastos Actividades: <strong id="totalGastos">$0</strong></p>
            <p class="text-danger fw-bold">Total Salidas: <strong id="totalSalidas">$0</strong></p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Botones -->
  <div class="d-flex flex-wrap gap-2 justify-content-center">
  <button class="btn btn-primary" onclick="imprimirEstadoFondo()">🖨 Imprimir</button>
    <button class="btn btn-danger" onclick="descargarEstadoPDF()">📄 Descargar PDF</button>
    <button type="button" id="atras" class="btn btn-warning">⬅ Atrás</button>
  </div>

</div>



<script src="/assets/js/admin/estadoFondo.js"></script>
