<body>
  <div class="container my-5">
  <div class="text-center">
    <h3 class="mb-4">Gestión de salidas</h3>

<div class="container d-flex justify-content-center align-items-start min-vh-100 pt-5">
  <div class="text-center">
    <button id="btnNuevaSalidas" class="btn btn-primary btn-lg mb-3">Ingresar</button><br>
    <button id="btnVerSalidas" class="btn btn-info btn-lg mb-3">lista de Salidas</button><br>
    <button id="btnAtras" class="btn btn-outline-dark btn-lg">Atrás</button>
  </div>
</div>
</div>
</div>
  <script src="/assets/js/admin/frontSalidas.js"></script>

</body>