<div class="container my-5">
 <div class="text-center border rounded bg-light p-3">
    <h3 class="mb-4">Gestión de Pagos</h3>

    <div class="d-grid gap-3 col-6 mx-auto">
      <button id="btnAgregarPago" class="btn btn-primary btn-lg">
        Agregar
      </button>

      <button id="btnHistorialPagos" class="btn btn-success btn-lg">
        Historial de Pagos
      </button>

      <button id="btnDeudaMiembro" class="btn btn-warning btn-lg">
        Miembros con Deudas
      </button>

      <button id="btnDeudaActividad" class="btn btn-info btn-lg">
        Deudas por Actividad
      </button>
      
      <button id="btnAtras" class="btn btn-outline-dark btn-lg">
        Atrás
      </button>
    </div>
  </div>
  <script src="/assets/js/admin/frontPagos.js"></script>
</div>