<div class="container my-5">
  <div class="text-center">
    <h2 class="mb-4">Gestión Fondo Actividades</h2>

    <div class="d-grid gap-3 col-6 mx-auto">
      <button id="btnEstado" class="btn btn-primary btn-lg">
        Estado del Fondo
      </button>

      <button id="btnEntradas" class="btn btn-info btn-lg">
        Entradas
      </button>

      <button id="btnSalidas" class="btn btn-warning btn-lg">
        Salidas
      </button>

      <button id="btnInventario" class="btn btn-success btn-lg">
        Inventario de Cocina
      </button>
      
      <button id="btnAtras" class="btn btn-outline-dark btn-lg">
        Atrás
      </button>
    </div>
  </div>
  <script src="/assets/js/admin/FrontFondo.js"></script>
</div>