 .modulo {
      border-radius: 1rem;
      transition: transform 0.3s, box-shadow 0.3s;
      padding: 2rem;
      text-align: center;
      background-color: #f8f9fa;
      box-shadow: 0 0 8px rgba(0,0,0,0.1);
    }

    .modulo:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 20px rgba(0,0,0,0.2);
      background-color: #a5a8ac;
    }

    .modulo i {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #0d6efd;
    }

    .modulo h5 {
      font-weight: 600;
    }

    body {
      background-color: #f3f1f2;
    }

    #footerid {
      background-color: lightgreen;
    }
    #header{
      background-color: #0d6efd !important
    }
    .botones-container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .botones {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 300px;
    }   
    button.active {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      transform: scale(1.03);
      transition: 0.2s ease;
     } 
     #moduloPagos{
      background-color: #387feb83;
      border: 2px solid #387feb; /* línea del borde */
     }
     #moduloFondo{
      background-color: rgba(107, 219, 103, 0.514);
      border: 2px solid #10ca28; /* línea del borde */
     }
     #moduloActividades{
      background-color: rgba(233, 204, 43, 0.548);
      border: 2px solid #f7fa39; /* línea del borde */
     }
     #moduloMiembros{
      background-color: rgba(220, 20, 60, 0.479);
      border: 2px solid #f01e1e; /* línea del borde */
     }
     #listaNotificaciones {
      position: fixed !important;   /* Se posiciona respecto a la pantalla */
       top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      width: 400px;
      max-width: 95vw;
      max-height: 80vh;
      overflow-y: auto;

      display: none;   /* Se controla con JS */
      z-index: 2000;
}
     
     .noti-mensaje {
       white-space: normal !important;
       word-wrap: break-word;
       overflow-wrap: break-word;
       text-align: justify;
}
